.faq {
  padding: 32px 0;

  @include mq(desk) {
    padding: 60px 0;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 400;
    line-height: 130%;

    @include mq(desk) {
      font-size: 50px;
    }
  }
}

.accordion {
  &__item {
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--light-color);
    transition: all var(--transition);

    &.is-active {
      background-color: var(--brand-orange-color);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.20);
    }

    + .accordion__item {
      margin-top: 16px;

      @include mq(desk) {
        margin-top: 12px;
      }
    }
  }

  &__title {
    position: relative;
    display: block;
    padding: 18px 32px 18px 24px;
    font-size: 14px;
    font-weight: 400;
    transition: all var(--transition);

    @include mq(desk) {
      padding: 24px;
      font-size: 16px;
      font-weight: 400;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      content: '';
      background: var(--black-color);
      transform: translateY(-50%);
      transition: all var(--transition);
    }

    &::before {
      right: 17px;
      width: 18px;
      height: 1px;
    }

    &::after {
      right: 25px;
      width: 1px;
      height: 18px;
    }

    @include mq(desk) {
      &::before {
        right: 20px;
        width: 21px;
        height: 1px;
      }

      &::after {
        right: 30px;
        width: 1px;
        height: 21px;
      }
    }

    &.is-active {
      color: var(--white-color);

      &::before {
        background-color: var(--white-color);
      }

      &::after {
        display: none;
      }
    }
  }

  &__item-content {
    display: none;
    padding: 15px 26px;
    font-size: 12px;
    transition: all var(--transition);

    @include mq(tab) {
      padding: 24px 24px 28px 24px;
      font-size: 12px;
    }

    .accordion__title.is-active + & {
      display: block;
      border-radius: 0 0 20px 20px;
      background-color: var(--white-color)
    }
  }

  &__item-description {
    max-width: 1720px;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;

  }
}