.hero {
  padding-top: 16px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--white-color);
    @include mq(tab) {
      flex-direction: row;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 135px;
    border-radius: 10px;

    @include mq(tab) {
      width: 33.333%;
      height: 591px;
    }

    &.red {
      background-color: var(--brand-orange-color);
    }

    &.green {
      background-color: var(--brand-green-color);
    }
  }

  &__swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 32px 25px;
    width: 100%;
    height: 135px;
    border-radius: 10px;

    &.blue {
      background-color: var(--brand-blue-color);
    }

    &.pink {
      background-color: var(--brand-pink-color);
    }

    @include mq(tab) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      width: 33.333%;
      height: 591px;
    }
  }

  .swiper {
    &__controls {
      display: none;
      position: absolute;
      top: 24px;
      z-index: 10;
      width: 100%;
      padding: 0 38px;

      @include mq(desk) {
        display: flex;
        align-items: center;
      }
    }

    &__buttons {
      display: flex;
      gap: 12px;
    }

    &__button {
      display: flex;
      width: 44px;
      height: 44px;
      background-color: var(--white-color);
      border-radius: 50%;

      svg {
        margin: auto;
        width: 11px;
        height: 16px;
      }
    }

    &__pagination {
      .swiper-pagination-bullet {
        background-color: var(--white-color);
      }

      .swiper-pagination-bullet-active {
        background-color: var(--white-color);
      }
    }
  }

  &__item-slide-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 250px;

    @include mq(desk) {
      max-width: 100%;
    }
  }

  &__item-slide-title {
    text-align: start;
    font-size: 18px;
    line-height: 130%;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);

    @include mq(desk) {
      font-size: 38px;
      text-align: center;
    }
  }

  &__item-slide-description {
    display: none;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;

    @include mq(desk) {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__title {
    font-size: 24px;
    text-shadow: 0 0.495px 1.98px rgba(0, 0, 0, 0.35);
  }

  &__link {
    display: flex;
    align-items: center;
    text-shadow: 0 0.495px 1.98px rgba(0, 0, 0, 0.35);
    color: var(--white-color);

    svg {
      margin-left: 10px;
      width: 16px;
      height: 10px;
    }
  }
}