:root {
  --white-color: #ffffff;

  --black-color: #202020;
  --dark-color: #707070;
  --dark-grey-color: #DCDCDC;
  --grey-color: #E4E4E4;
  --silver-color: #F0F0F0;
  --light-blue-color: #B1E2DD;
  --light-color: #F4ECE0;
  --active-orange-color: #ED4C34;

  --brand-orange-color: #FD5137;
  --brand-pink-color: #D62D93;
  --brand-green-color: #166E5A;
  --brand-yellow-color: #FEDD61;
  --brand-blue-color: #22A1CA;


  --main-font-size: 14px;
  --main-line-height: 130%;
  --transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
