<section class="hero">
  <ul class="hero__list">
    <li class="hero__item red">
      <div class="hero__content">
        <h2 class="hero__title">Впечатления</h2>
        <a aria-label="Весь каталог" class="hero__link" href="/">Весь каталог
          <svg>
            <use href="./images/sprite.svg#icon-arrow-right" />
          </svg>
        </a>
      </div>
    </li>
    <li class="hero__item green">
      <div class="hero__content">
        <h2 class="hero__title">Афиша</h2>
        <a aria-label="Весь каталог" class="hero__link" href="/">Все события
          <svg>
            <use href="./images/sprite.svg#icon-arrow-right" />
          </svg>
        </a>
      </div>
    </li>
  </ul>
  <div></div>
</section>